### Gradle ###
.gradle/
build/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea/
*.iml

### VS Code ###
.vscode/

### Eclipse (если кто-то откроет) ###
.project
.classpath
.settings/

### Spring Boot ###
*.pid
*.out